* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Variables */
:root {
    --bg-primary:#312B2B;
    --bg-secondary:#E95050;
    --bg-hover:#3EA9F3;
    --color-primary:#CDC2C2; 
    --color-secondary:#FFFFFF;
    --font-primary:'Roboto', sans-serif;
    --secondary-font:'Lato', sans-serif;
    --border-bottom: 1px solid white;
    --box-shadow-color:0px 4px 18px white;
}

body {
    background: var(--bg-primary);
}
/* Título */
.header {
    width: 100%;
    height: 40px;
    padding: 10px;
}

.header__h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: var(--color-primary);
    font-family: var(--font-primary);
    margin-top: 30px;
}
/* Navegación */
.header__nav {
    width: 100%;
    height: 50px;
    margin-top: 40px;
}

.header__nav ul {
    cursor: pointer;
    font-size: 40px;
    font-weight: 300;
    font-family: var(--font-primary);
    color: var(--color-primary);
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__nav li:hover{
    border-bottom: var(--border-bottom);
}

.header__nav li {
    margin-right: 30px;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
/* Contenido Principal */
.main {
    width: 100%;
    margin-top: 270px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Subtitulo */
.main__h2 {
    margin-bottom: 78px;
    font-size: 60px;
    font-weight: 500;
    font-family: var(--font-primary);
    color: var(--color-primary);
}
/* Artículo */
.main__article {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* Recuadros */
.article__div {
    margin-bottom: 35px;
    width: 428px;
    height: 409px;
    padding: 15px;
    margin-right: 35px;
    background: var(--bg-secondary);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Subtitulo */
.article__div h3 {
    font-size: 40px;
    font-weight: bold;
    font-family: var(--font-primary);
    margin-top: 25px;
    margin-bottom: 25px;
    color: var(--color-secondary);
}

.article__div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* Iconos */
.article__div1 .div__div {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--box-shadow-color);
    background: var(--bg-primary);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.article__div1 .div__div2 {
    margin: 0 auto;
}

/* Nombre */
.div__p {
   text-align: center;
   font-size: 38px;
   font-weight: 300;
    font-family: var(--font-primary);
   color: var(--color-secondary);
}

.article__a{
    text-align: center;
}
/* Fin de la Página */
.footer {
    width: 100%;
    padding: 10px;
    margin-bottom: 46px;
    margin-top: 56px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__div {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: var(--bg-secondary);
    margin-right: 42px;
}

.footer__div:hover {
    background: var(--bg-hover);
}

.footer__div .twitter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.div__div img {
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.div__div .div__img {
    width: 60px;
    height: 60px;
}